<% include header.ejs %>
<link rel="stylesheet" href="/css/schedule.css">

<div id=container>
    
    <a href="/schedule/<%= id %>/view"><div class="button cancel">Cancel</div></a>
    
    <a href="/schedule/<%= id %>/go"><div class="button go">Confirm</div></a>
    
    <div id=timer></div>

    <table class="ui celled striped table">
        <thead>
            <tr>
                <th class=itemname>Item Name</th>
                <th class="right aligned collapsing">Finish By</th>
            </tr>
        </thead>

        <tbody id="tableBody">
            
        </tbody>
    </table>
    
</div>

<script>
    
    var updateTimes = () => {
        var content = "";
        var schedule = <%- JSON.stringify(schedule) %>
        times = getTimes(schedule);
        for (var i=0; i<times.length; i++) {
            content += `<tr><td>${times[i][0]}</td><td class="right aligned collapsing">${times[i][1]}</td></tr>`;
        }
        return content;
    };
    
    var nextAssignment = () => {
        
    };

    var wait = () => {
        timerSeconds--;
        if (timerSeconds < 0) {
            timerSeconds = 59;
            timerMinutes--;
        }
        if (timerMinutes < 0) {
            timerMinutes = 59;
            timerHours--;
        }
        if (timerHours < 0) {
            timerSeconds = 0;
            timerMinutes = 0;
            timerHours = 0;
            document.getElementById("timer").innerHTML = `00:00:00`;
            nextAssignment();
        }
        document.getElementById("timer").innerHTML = `${pad(timerHours, 2)}:${pad(timerMinutes, 2)}:${pad(timerSeconds, 2)}`;
        setTimeout(wait, 1000);
    }

var items = <%- JSON.stringify(schedule.items) %>;
var itemIndex = 0;
var currentItem = items[itemIndex];
var timerHours = currentItem.duration.split(":")[0];
var timerMinutes = currentItem.duration.split(":")[1];
var timerSeconds = 0;
var content = updateTimes();
document.getElementById("tableBody").innerHTML = content;
wait();
    
</script>