<% include header %>
<link rel="stylesheet" href="/css/schedule.css">

<div id=container>
    
    <a href="/schedule/<%= id %>/view"><div class="button cancel">Cancel</div></a>
    
    <a href="/schedule/<%= id %>/go"><div class="button go">Confirm</div></a>

    <table class="ui celled striped table">
        <thead>
            <tr>
                <th class=itemname>Item Name</th>
                <th class="right aligned collapsing">Finish By</th>
            </tr>
        </thead>

        <tbody id="tableBody">
            
        </tbody>
    </table>
    
</div>

<script>
    
    var updateTimes = () => {
        var content = "";
        var schedule = <%- JSON.stringify(schedule) %>;
        times = getTimes(schedule);
        for (var i=0; i<times.length; i++) {
            content += `<tr><td>${times[i][0]}</td><td class="right aligned collapsing">${times[i][1]}</td></tr>`;
        }
        return content;
    }

    var wait = () => {
        var content = updateTimes();
        document.getElementById("tableBody").innerHTML = content;
        setTimeout(wait, 1000);
    }

wait();
    
</script>