body * {
    font-family: Roboto;
}

#container {
    width: 45%;
    margin: 10px auto;
}

table {
    font-size: 20px;
    margin-top: 5% !important;
}

#title {
    font-size: 25px;
    height: 25px;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px black;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    width: 30%;
    max-width: 175px;
    font-weight: bold;
}

.button:active {
    box-shadow: none;
}

.go {
    float: right;
    background-color: green;
    margin-right: 10px;
}

.cancel {
    float: left;
    background-color: red;
}

#go:active {
    background-color: darkgreen;
}

#timer {
    width: 200px;
    height: 100px;
    background-color: green;
    clear: both;
    font-size: 20px;
}